<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Author: {{ author }}</p>
    <p>Post ID: {{ post_id }}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime inventore velit, deserunt assumenda aperiam quos ratione, optio magnam veniam temporibus nulla? Quod repellat nam fugit quis, eligendi eius quisquam consequatur.</p>
</body>
</html>