<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successt</title>
</head>
<body>
    <h2>Thank you,{{name}}! Your message has been recieved. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt consequuntur, eveniet assumenda similique nihil est placeat alias, fugiat itaque ducimus unde nesciunt, ex perspiciatis minima? Distinctio consequatur voluptatem aliquam ut?</received></h2>
</body>
</html>